table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: greenyellow;
}

#wrapper{
    margin: 0px auto;
    width:1000px;
    height: 1000px;
    background-color: brown;
}

#header{
    width:1000px;
    height: 100px;
    background-color: green;
}

#body{
    width:1000px;
    height: 900px;
    background-color: purple;
}
